<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
</head>
<br>
    <h1>여기는 User 페이지</h1>
    <a href="/">홈으로 이동하기</a>
    <br/> <br/>

    <input type="text" readonly value=<%=userInfos.realId%>> <br/>
    <input type="text" readonly value=<%=userInfos.realPw%>> <br/>
    <input type="text" readonly value=<%=userInfos.name%>> <br/>
    <input type="number" readonly value=<%=userInfos.age%>> <br/>
    
</body>
</html>