<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice2</title>
</head>
<body>
    <h1>실습문제2</h1>
    <form action="/postPractice" method="post" onsubmit="return checkUser(this)">
        <label>
            이름 <input type="text" name="name"/>
        </label>
        <br/>
        <br/>
        <span>성별</span>
        <br/>
        <label>
            <input type="radio" name="sex" value="남자"/> 남자
        </label>
        <label>
            <input type="radio" name="sex" value="여자"/> 여자
        </label>
        <br/>
        <br/>
        <span>생년월일</span>
        <br/>
        <label>
            <select name="age" id = "year">
                <option value="2010">2010</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
            </select> 년
        </label>
        <label>
            <select name="age" id = "month">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select> 월
        </label>
        <label>
            <select name="age" id = "day">
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
            </select> 일
        </label>
        <br/>
        <br/>
        <span>관심사</span>
        <br/>
        <label>
            <input type="checkbox" name="habit" value="여행"/> 여행
        </label>
        <label>
            <input type="checkbox" name="habit" value="패션"/> 패션
        </label>
        <label>
            <input type="checkbox" name="habit" value="음식"/> 음식
        </label>
        <br/>
        <br/>
        <span>선택</span>
        <br/>
        <label>
            좋아하는 색상 : <input type="color" name="color">
        </label>
        <br/>
        <label>
            좋아하는 숫자 : <input type="number" name="number">
        </label>
        <br/>
        <br/>
        <label>
            마지막 한마디 : <input type="text" name="last_text">
        </label>
        <br/>
        <br/>
        <button>회원가입</button>
    </form>

    <script>
        function checkUser(form){
            if (form.name.value.trim()===''){
                alert('이름 입력해주세요 :(');
                return false;
            } 
            if (form.sex[0].checked === false && form.sex[1].checked === false) {
                alert('성별을 선택해주세요 :(');
                return false;
            }
        }
    </script>
    
</body>
</html>